requests
Flask==2.1.1; python_version >= "3.7"
flask-wtf==1.0.1; python_version >= "3.6"
gunicorn==20.1.0
itsdangerous==2.1.2; python_version >= "3.7"
six==1.16.0
click==8.1.2; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
importlib-metadata==4.11.3; python_version < "3.10" and python_version >= "3.7"
ldap3
jinja2==3.1.1; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
werkzeug==2.1.1; python_version >= "3.7"
wtforms==3.0.1; python_version >= "3.7"
cryptography
pyJWT
pyyaml
