{% extends 'layout.jinja2' %}

{% block styles %}

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/forms.css') }}"
        type="text/css"
    />


    <script>
      $(document).ready(function() {
        $('#logonname').val('{{ userlogonname }}');
        $('#logonname').attr('readonly', true);
      });
    </script>

    <script type="text/javascript">
      var csrf_token = "{{ csrf_token() }}";

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
      });
    </script>

    <script>
    $(function() {
        $('#submitbtnRequestAccount').click(function() {

                console.log('im in submit');
                console.log($('#logonname').val());
                console.log($('#tenant').val());
                console.log($('#otherinfo').val());

                $.ajax({
                url: '/submitRequestAccountForm',
                data : {
                 logonName : '{{ userlogonname }}',
                 tenantName: $('#tenant').val(),
                 otherInfo: $('#otherinfo').val(),
                       },
                type: 'POST',
                success: function(response) {
                       $.confirm({
                          title: 'Account Request Successful!',
                          content: 'An Administrator will be in contact soon',
                          buttons: {
                              OK: {
                                confirm: 'OK',
                                btnClass: 'btn-blue', 
                              },
                          }
                      });

                },

                 error: function (request, status, error) {
                    $.alert({
                      'title': 'Error!',
                      'content': request.responseJSON.message,
                     });
                }
            });
        });
    });
 </script>


{% endblock %}

{% block content %}

    <div class="form-wrapper">
      <h2 class="title">Request Account</h2>


          {{ form.csrf_token }}

          <fieldset class="form-field">{{ form.logonname.label }} {{ form.logonname }}
            {% if form.logonname.errors %}
              <ul class="errors">
                {% for error in form.logonname.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <fieldset class="form-field">{{ form.tenant.label }} {{ form.tenant }}
            <i class="fas fa-caret-down"></i>
            {% if form.tenant.errors %}
              <ul class="errors">
                {% for error in form.tenant.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <fieldset class="form-field">{{ form.otherinfo.label }} {{ form.otherinfo }}
            {% if form.otherinfo.errors %}
              <ul class="errors">
                {% for error in form.otherinfo.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <input id="submitbtnRequestAccount" name="submitbtnRequestAccount" type="submit" value="Submit Form">

          

      </form>
    </div>

{% endblock %}
